*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}
/* [class ^= "box-"]{
    display: grid;
    place-items: center;
    border: solid 5px orangered;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0 ,.1);
    color: #fff;
} */
body{
    background: linear-gradient(lightblue, darkblue);
    height: 100vh;
}
/* .beginner{
    height: 90vh;
    width: 90%;
    margin: 20px auto; 

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.beginner_two {
    height: 90vh;
    width: 90%;
    margin: 20px auto;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.beginner_two .box-1{
    grid-column: 1 / 4; 
    grid-column: span 2;
}

.beginner_two .box-2 {
    grid-column: 4 / 10; 
    grid-column: span 8;
}

.beginner_two .box-3 {
    grid-column: 10 / 13; 
    grid-column: span 2;
}  */
.pro{
        height: 90vh;
            width: 90%;
            margin: 10px auto;
            gap: 20px;
            
            display: grid;
            grid-template-columns: repeat(12, 1fr );
                grid-template-areas:
                    "h h h h  h h h h  h h h h"
                    "b b b b  m m m m  m m m m"
                    "b b b b  m m m m  m m m m"
                    "s s s s  m m m m  m m m m"
                    "s s s s  f f f f  f f f f"    ;
    
}
.box-1, .box-2, .box-3, .box-4, .box-5{
    border: 5px solid orangered;
    display: grid;
    place-items: center;
    
        border-radius: 20px;
}
.box-1{
    grid-area: h;
}
.box-2 {
    grid-area: b;
}
.box-3 {
    grid-area: m;
}
.box-4{
    grid-area: s;
}
.box-5 {
    grid-area: f;
}

/*
@media (min-width: 1080px) {
    .pro {
        height: 90vh;
        width: 90%;
        margin: 10px auto;
        gap: 20px;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
                "h h h h  h h h h  h h h h"
                "b b b b  m m m m  m m m m"
                "b b b b  m m m m  m m m m"
                "s s s s  m m m m  m m m m"
                "s s s s  f f f f  f f f f";

    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        border: 5px solid orangered;
        display: grid;
        place-items: center;

        border-radius: 20px;
    }

    .box-1 {
        grid-area: h;
    }

    .box-2 {
        grid-area: b;
    }

    .box-3 {
        grid-area: m;
    }

    .box-4 {
        grid-area: s;
    }

    .box-5 {
        grid-area: f;
    }
} */
@media (min-width: 0px) and (max-width: 600px) {
    /* we put max and also min screen for media quary 
    also strart fromm low word to upword numbers
    */
    .pro {
        height: 90vh;
        width: 90%;
        margin: 10px auto;
        gap: 20px;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas:
            "h h h h  h h h h  h h h h"
            "b b b b  b b b b  b b b b"
            "m m m m  m m m m  m m m m"
            "s s s s  s s s s  s s s s"
            "f f f f  f f f f  f f f f";

    }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        border: 5px solid orangered;
        display: grid;
        place-items: center;

        border-radius: 20px;
    }

    .box-1 {
        grid-area: h;
    }

    .box-2 {
        grid-area: b;
    }

    .box-3 {
        grid-area: m;
    }

    .box-4 {
        grid-area: s;
    }

    .box-5 {
        grid-area: f;
    }
} 
@media (min-width: 601px) and (max-width: 1080px) {
    /* we put max and also min screen for media quary */
     .pro {
         height: 90vh;
         width: 90%;
         margin: 10px auto;
         gap: 20px;

         display: grid;
         grid-template-columns: repeat(12, 1fr);
         grid-template-areas:
             "h h h h  h h h h  h h h h"
             "b b m m  m m m m  m m s s"
             "b b m m  m m m m  m m s s"
             "b b m m  m m m m  m m s s"
             "f f f f  f f f f  f f s s";

     }

     .box-1,
     .box-2,
     .box-3,
     .box-4,
     .box-5 {
         border: 5px solid orangered;
         display: grid;
         place-items: center;

         border-radius: 20px;
     }

     .box-1 {
         grid-area: h;
     }

     .box-2 {
         grid-area: b;
     }

     .box-3 {
         grid-area: m;
     }

     .box-4 {
         grid-area: s;
     }

     .box-5 {
         grid-area: f;
     }
 }
